<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
     <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="../static/css/floating-labels.css" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form class="form-signin" method="post">
    <div class="text-center mb-4">
        <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72"
             height="72">
        <h1 class="h3 mb-3 font-weight-normal">
            <ya-tr-span data-index="0-0" data-value="Signup"
                        data-translation="Авторизация" data-type="trSpan">Регистрация
            </ya-tr-span>
        </h1>
    </div>

    <div class="form-label-group">
        <input  type="email" name = "login" id="inputEmail" class="form-control" placeholder="Эл. адрес" required=""
               autofocus="">
        <label for="inputEmail">
            <ya-tr-span data-index="2-0" data-value="Email address" data-translation="Эл. адрес"
                        data-type="trSpan">Эл. адрес
            </ya-tr-span>
        </label>
    </div>

    <div class="form-label-group">
        <input  type="password" name = "password" id="inputPassword" class="form-control" placeholder="Пароль"
               required="">
        <label for="inputPassword">
            <ya-tr-span data-index="3-0" data-value="Password" data-translation="Пароль"
                        data-type="trSpan">Пароль
            </ya-tr-span>
        </label>
    </div>
    <div class="form-label-group">
        <input  type="password" name = "password2" id="inputPassword2" class="form-control" placeholder="Пароль"
               required="">
        <label for="inputPassword2">
            <ya-tr-span data-index="3-0" data-value="Password" data-translation="Пароль"
                        data-type="trSpan">Введите пароль повторно
            </ya-tr-span>
        </label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me">
            <ya-tr-span data-index="4-0" data-value=" Remember me "
                        data-translation=" Запомнить меня " data-type="trSpan"> Запомнить меня
            </ya-tr-span>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        <ya-tr-span data-index="5-0" data-value="Sign in" data-translation="Зарегистрироваться"
                    data-type="trSpan">Зарегистрироваться
        </ya-tr-span>
    </button>
</form>

</body>
</html>